*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-size: 100%;
  background: #0f0f3d;
  color: white;
}

/* ===== NAVBAR ===== */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #12124a;
}

.navbar nav a{
  color: white;
  margin-left: 25px;
  text-decoration: none;
}

/* ===== HERO ===== */
.hero{
width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #05053d, #0b0b5c);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.hero-container{
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.hero-text h1 span{
  color: #b45cff;
}

.hero-text h3{
  color: orange;
  margin-top: 10px;
  font-size: 2.2rem;
  margin-bottom: 5px;
}

.buttons{
    display:flex;
    gap: 30px;
  margin-top: 30px;
}

.btn{
  display: inline-block;
  padding: 0px 20px;
  margin-right: 0px;
  background: #b45cff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.hero-img img{
  
  width: 300px;
}

/* ===== EXPERIENCE ===== */
.experience{
  padding: 80px 60px;
}

.experience h4{
  color: #ccc;
}

.exp-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
  margin-top: 40px;
}

.exp-box{
  background: #17175c;
  padding: 5px;
  border-radius: 10px;
}

/* ===== FOOTER ===== */
.footer{
   background-color: #6c6cca;
  padding: 50px 60px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer a{
  display: block;
  color: white;
  text-decoration: none;
  margin-top: 5px;
}

.copy{
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
.img{
display: flex;
justify-content: center;
border-radius: 5px;
}
.form-container{
  max-width: 600px;
  background: #17175c;
  border-radius: 15px;
  padding: 20px;
  margin: 50px auto;
}
.about-container {
  justify-items: center;
  background-color: #ccccd6;
  align-items: center;
  gap: 60px;
  padding: 80px 60px;
  color: #6c6cca;
  height: auto;
}
.about-container h1{
    color: black;
    padding: 20px 30px;
  }


.myimg img{
  width: 400px;
  height: 400px;
  border-radius: 400px;
  margin-right: 100px;
  margin-top: 30px;
}

}
.myimg img{
  width: 200px;
  height: 300px;
  border-radius: 100px;
}



@media (max-width: 768px){
  .hero-container{
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1{
    font-size: 2.2rem;
  }

  .hero-text h2{
    font-size: 1.6rem;
  }

  .hero-buttons{
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-image{
    margin-top: 30px;
  }
  .form-container{
  margin-top: 20px;
   font-size: 1.0rem;
  border-radius: 15px;
}
.about-container{
  flex-direction: column;
  text-align: center;
}
  }
.myimg img{
    margin-top: 30px;
}
}
